body {
    background-color: rgb(48, 66, 111);
    color:white
}

.banner-bg {
    background-image: url(./assets/images/disney-banner.jpg); /* Inserisco la image come cover */
    background-size: cover;
}
.titolo-banner {
    color: rgb(104, 60, 97);
    text-shadow: 1px 1px 2px rgba(97, 85, 178, 0.5);
}
.text-banner {
   color: rgb(177, 173, 168);
} 

h1 {
    color: rgb(206, 192, 203);
}
h2 {
     color: rgb(177, 173, 168);
}




